.shopping-cart-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
  background-color: #F2F3F0;

  .sidebar-close-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: center / contain no-repeat url('../../assets/chevron.png');
  }

  .cart-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: #4B5548;
    text-align: center;
  }

  .cart-item-wrapper {
    margin: 2rem 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    .product-wrapper{
      display: flex;

      .product-desc {
        flex: 2;
        background-color: #fff;
        padding: 10px 40px 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color:  #4B5548;;

        .product-name {
          padding: 10px 0 20px;
        }

        .price-qtty-wrapper {
          display: flex;
          justify-content: space-between;
          margin-top: 3rem;

          .item-quantity {
            border: 1px solid #BCBCBC;
            display: flex;
            height: 2.5rem;
            padding: 10px;

            .qtty-btn {
              border: none;
              background-color: #fff;
              outline: none;
              cursor: pointer;
              width: 1.5rem;
            }

            input {
              border: none;
              background-color: #fff;
              text-align: center;
              outline: none;
              width: 4rem;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          div:last-child{
            display: flex;
            align-items: center;
          }
        }

        hr {
          border: 1px solid #E3E6E3;
          margin: 1rem 0 0.5rem;
        }
        .subtotal-wrapper {
          display: flex;
          justify-content: flex-end;
          
          span:first-child{
            font-size: 0.8rem;
          }

          span:last-child {
            margin-left: 4rem;
          }
        }
      }

      .product-img {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color:#FDFDFD;
        position: relative;
        padding: 10px 20px;

        .delete-btn {
          display: flex;
          justify-content: flex-end;
          right: 0;
          top: 0;
          cursor: pointer;
        }
        div:last-child {
          display: flex;
          align-items: center;
          justify-content: center;

          .cart-product-image {
            border: none;
            height: 100px;
            width: 100px;
            object-fit: contain;
          }
        }

      }
    }
  }

  .subtotal {
    display: flex;
    color: #4B5548;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .empty-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: 100%;
    margin: 2rem auto;
    font-size: 1.2rem;
    color: #4B5548;;
    text-align: center;
  } 
   
  hr {
    border: 1px solid #E3E6E3;
    margin: 8rem 0 0.5rem;
  }

  .cart-btn-wrapper {
    display: flex; 
    flex-direction: column;
    bottom: 0;
    margin:  1rem 0;
  }
  
}

.close-sidebar {
  display: block;
  transition: linear;
}

@media only screen and (max-width: 768px){
  .shopping-cart-wrapper {
    width: 60%;
  }
}